<div class="auth-forms title">
  <h2>LOGIN</h2>
  <form ng-submit="login(user)">
  
    <div class="input-group">
      <div class="input-group-addon inputstyle">
      	<span style="color: #5d9f9c; font-size: 18px" class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
      </div>
      <input type="email" ng-model="user.email" placeholder="Email" class="form-control" required>
    </div><br>

    <div class="input-group">
      <div class="input-group-addon">
      	<span style="color: #5d9f9c; font-size: 18px" class="glyphicon glyphicon-lock" aria-hidden="true"></span>
      </div>
      <input type="password" ng-model="user.password" placeholder="Password" class="form-control" required>
    </div><br> 

    <input type="submit" value="Login" class="btn btn-forms" style="background-color: #5d9f9c; color: #12172a; font-weight: bold; font-family: bern">
  </form>
</div>