<div class="row">
	<!-- LEFT PANEL -->
	<div class="col-md-offset-1 col-md-4">
		<!-- SEARCH TOOL -->
		<div class="form-group">
			<div class="input-group">
				<div class="input-group-addon">
				<span style="color: white" class="glyphicon glyphicon-search" aria-hidden="true"></span>
				</div>
			     <input style="color: white; font-family: crush" type="text" ng-model="searchTask" class="form-control" placeholder="Search">
			    </div>	
			</div>
		</div>
		<!--User List-->
		<a ng-repeat="task in tasks | filter: {title: searchTask , status: '!cancelled'} | orderBy: 'datetime':true" ng-href="#/browse/{{task.$id}}">
					<div class="list-group-item">
				        <div class="row-picture">
				            <img class="circle" ng-src="{{task.gravatar}}">
				        </div>
				        <div class="row-content">
				            <h4 class="list-group-item-heading" style="color: #fde19e; font-family: crush; font-size: 20px">{{task.title | limitTo:25}}{{ task.title.length > 25? "..." : ""}}</h4>
				            <span class="list-group-item-text">
				            	<span am-time-ago="task.datetime"></span>
				            </span>		            
				        </div>
				        <div class="payment">
				        	<div>${{task.total}}</div>
				        	<span class="label status {{task.status}}">{{task.status}}</span>		        	
				        </div>
				    </div>		    
			    	<div class="list-group-separator"></div>
		    	</a>


	<!-- RIGHT PANEL -->
	<div class="col-md-6">
		RIGHT PANEL
	</div>
</div>