<div class="row">
	
	<!-- LEFT PANEL -->
	<div class="col-md-offset-1 col-md-4">

		<div class="list-group">
				<!-- SEARCH TOOL -->
				<div class="form-group">
					<div class="input-group">
						<div class="input-group-addon">
							<span style="color: white" class="glyphicon glyphicon-search" aria-hidden="true"></span>
						</div>
			      		<input style="color: white; font-family: crush" type="text" ng-model="searchTask" class="form-control" placeholder="Search">
			    	</div>	
				</div>
				
				<!-- USER LIST -->	
				<p>{{user}}</p>

	<!-- RIGHT PANEL -->
	<div class="col-md-6">

