/*Custom Fonts*/
@font-face {
  font-family: 'crush';
  src:url('../fonts/MyFirstCrush.ttf');
}
@font-face {
  font-family: 'rns';
  src:url('../fonts/RNS.ttf');
}
@font-face {
  font-family: 'Blackfat';
  src:url('../fonts/Blackfat.ttf');
}
@font-face {
  font-family: 'snaps';
  src:url('../fonts/snaps.otf');
}
@font-face {
  font-family: 'scribble';
  src:url('../fonts/scribble.ttf');
}
@font-face {
  font-family: 'bern';
  src:url('../fonts/bern.ttf');
}
/*Underlying Background - Set to Navy*/

body {
  background: #12172a;
}
p {
  font-family: crush;
  color: #12172a;
}
h2 {
  color: #5d9f9c;
  font-family: bern;
  font-size: 40px;
}
h4 {
  color: #fde19e !important; 
  font-family: crush !important; 
  font-size: 20px !important; 
  vertical-align: middle !important;
}
h5 {
  color: #5d9f9c !important; 
  /*font-family: crush !important; */

  vertical-align: middle !important;
}

/* Changed color of price in browse*/
a, a:hover, a:focus {
  color: #ffe7aa;
}

.inputstyle {
  color: #ffffff;
}

.jumbotron {
  background-color: #175362 !important;
}

/* Form */

.auth-forms {
  max-width:400px;
  margin:0 auto;  
  padding:1px 25px 25px 25px;
  font-family: crush;
  font-size: 20px;
}
.btn-forms {
  background-color: #5d9f9c;
  color: #5d9f9c;
  border: 3px;
}

.postbuttonstyle {
  border-radius: 10px !important;
}
.adminbuttonstyle {
  border-radius: 10px 0px 0px 10px !important;
}
/* Nav Bar */

.navbar {
  margin-bottom: 0px;
  background-color: #12172a;
  border-bottom: #ff3399 !important
}
.navbar-brand {
  color: #5d9f9c !important;
  font-family: Blackfat;
  font-size: 40px;
}
.navstyle {
  color: #f36968 !important;
  font-family: crush;
  font-size: 20px;
}
.navstyle2 {
  color: #f36968 !important;
  font-family: crush;
}

.title {
  text-align: center;
}

.img-circle.gravatar {
  width: 30px;
}

/* Panel */

.panel-title {
  color: #ffffff;
  font-family: bern;
  font-weight: bold;
}
.panel-title-dashboard {
  color: #ffffff;
  font-family: crush;
  font-weight: bold;
}
.panel-default {
  border: 6px solid #12172a !important;
  border-radius: 8px;
  background-color: #12172a;
}
.panel-title-browse{
  background-color: #5d9f9c;
  color: #ffffff;
  font-family: crush;
}
.panel-body{
  background-color: #fde19e !important;
}

.img-browse {
  padding-top: 30px;
}
.panel-heading-bdescription {
  color: #5d9f9c;
  font-family: crush !important;
  font-size: 25px !important;
  height: 30px;
  /*margin-left: 5px;*/
  margin-top: 0px;
}

.panel-success > .panel-heading .badge {
  color: #c05251;
  background-color: #FFFFFF;
  font-size: 15px;
  margin-left: 5px;
  margin-top: 0px;
}
/*post a task heading color*/
.panel-heading {
  background-color: #f36968 !important;
}
.btn-warning {
  background-color: #f36968 !important;
}
.btn-changepass {
  background-color: #5d9f9c;
}

.panel-warning > .panel-heading .badge {
  color: #c05251;
  background-color: #FFFFFF;
  font-size: 15px;
  margin-left: 5px;
}

/* Task Header */

.fadedbackground  {
  background-image: src="../images/fadedbackground.png" !important;
}
.price-tag {
  font-size: 40px;
  font-weight: 300;  
  margin-top: 20px;
  text-align: center;
  background-color: #12172a;
  border-radius: 8px;
  color: #5d9f9c;
}
.landing {
  width: 600px;
  height: 600px;
}

.panel-warning {
  background-color: #f0d697; 
}
/* Task List */

.list-group .list-group-item .row-picture img {
  width: 50px;
  height: 50px;
}

.list-group .list-group-item .list-group-item-heading {
  color: rgba(0,0,0,.77);
  font-size: 15px;
  font-weight: bold;
  line-height: 15px;
}

.list-group .list-group-item .row-content {
  float: left;
  margin-top: 0;
  width: 40%;
  width: calc(100% - 160px);
  height: 80px;
}

.list-group .list-group-item .payment {
  float: right;
  margin-top: 0;  
  width: 85px;
  text-align: center;
  font-size: 30px;
  line-height: 30px;
}
.statusbrowse {
  font-size: 20px;
  padding: 5px;
  right: 5px;
  bottom: 5px;
  width: 90px;
  height: 25px; 
  background-color: #ff3399 !important;
  border-radius: 90px;
}

.list-group .list-group-item .payment .status{
  font-size: 14px;
  position: absolute;
  padding: 5px;
  right: 5px;
  bottom: 5px;
  width: 90px;
  height: 25px; 
}

.list-group-item-text {
  font-size: 12px;
  margin-bottom: 0;
  line-height: 1.3;
}
.circle {
  border: 1px solid #12172a;
}
.open {
  background-color: #12172a;
}

.assigned {
  background-color: #9e9e9e;
}

.completed {
  background-color: #9e9e9e;
}

/* Comments */

.well.well-sm.cmt {
  color: rgba(94, 94, 94, 1);
  font-size: 14px;
}

.cmt-title {
  font-weight: bold;
  text-decoration: underline;
}

.cmt-time {
  font-size: 12px;
}

.img-circle.comment.gravatar {
  width: 35px;
  margin-right: 5px;
}

.dropdown-menu{
  background-color: #12172a;
  color: white !important;
}